* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

header {
  background-size: cover;
  background-position: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  align-content: center;
  margin-bottom: 100px;
  justify-items: center;
  color: black;
}
.secondContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.author-img {
 object-fit: cover;
}

.text-containers {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 20px;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #eee;
}

*:focus {
  outline: none;
}

.btn {
  background-color: #34495e;
  color: #fff;
  border: none;
  outline: none;
  width: 500px;
  padding: 20px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #34495e;
  transition: all .3s ease-in-out;
  opacity: 0.6;
}

.additional-image {
  display: none;
}

ul li {
  list-style: none;
}

.fa-check {
  margin-right: 10px;
  background-color: tomato;
  color: #fff;
  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
}

/* Media queries */
@media (max-width: 375px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  input {
    padding: 10px;
    width: 100%;
  }

  .header {
    font-size: 2rem;
  }
  .container .text-containers {
    padding: 2px;
  }

  .container .additional-image {
    display: block; /* Show the additional image */
    width: 100%;
  }

  .container .author-img {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
}
